.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

.column {
  float: left;
  width: 33%; 
}

h2{
  text-align: center
}

ul {
  list-style-type: none;
  text-align: center;
}

input[type=submit] { /* for the delete buttons*/
  background-color: lightgrey;
  border: none;
  font-size: 10px;
  text-decoration: none;
  margin: 4px 4px;
  padding: 2px 4px;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}