<!DOCTYPE html>
<html lang='en-US'>
    <head>
        <meta charset='utf-8'>
        <title>My Kanban Board</title>
        <link rel='stylesheet' href='style.css'>
    </head>
    <body>
        <h1 class='center'> Kanban </h1>
        <form action='/add' method='POST'>
            <label for='newtask'>Task:</label>
            <input type='text' id='newtask' name='newtask'>
            <select class="form-control" id="category" name="category">
                  <option>To Do</option>
                  <option>Doing</option>
                  <option>Done</option>
            </select>
            <p class='button'>
                <button type='submit'>Add task</button>
            </p>
        </form>
        
        <div class='column'>
            <h2> To do </h2>
            <ul>
                <!--
                {% for todo in incomplete %}
                <li>{{todo.text}} <a href='{{url_for('complete',id=todo.id)}}'> complete </a> </li>
                {% endfor %}
                -->
            </ul>
        </div>
        <div class='column'>
            <h2> Doing </h2>
            <ul>
                <li> Task 3 </li>
                <li> Task 4 </li>
            </ul>
        </div>
        
        <div class='column'>
            <h2> Done </h2>
            <ul><!--
                {% for todo in complete %}
                <li>{{todo.text}}</li>
                {% endfor %} -->
            </ul>
        </div>
    </body>
</html>