<!DOCTYPE html>
<html lang='en-US'>
    <head>
        <meta charset='utf-8'>
        <title>My Kanban Board</title>
        <link rel='stylesheet' href='style.css'>
    </head>
    <body>
        <h1 class='center'> Kanban </h1>
        <form action='/add' method='POST'>
            <label for='text'>Task:</label>
            <input type='text' id='text' name='text'>
            <select class="form-control" id="category" name="category">
                  <option>To Do</option>
                  <option>Doing</option>
                  <option>Done</option>
            </select>
            <p class='button'>
                <button type='submit'>Add task</button>
            </p>
        </form>
        
        <div class='column'>
            <h2> To do </h2>
            <ul>
                {% for task in todo %}
                <li>{{task.text}} 
				<a href='{{url_for('move',id=task.id,category='Doing')}}'> Started Doing </a> 
				<form style="display: inline-block;" action='{{url_for('delete', id=task.id)}}' method='POST'> 
					<input type="submit" value='Delete Task' onclick="return confirm('Are you sure?');"> 
				</form>
				</li>
                {% endfor %}
            </ul>
        </div>
        <div class='column'>
            <h2> Doing </h2>
            <ul>
                {% for task in doing %}
                <li>{{task.text}} 
				<a href='{{url_for('move',id=task.id,category='To Do')}}'>Back to start</a> | 
				<a href='{{url_for('move',id=task.id,category='Done')}}'> I'm Done</a> 
                <form style="display: inline-block;" action='{{ url_for('delete', id=task.id) }}' method='POST'> 
					<input type="submit" value='Delete Task' onclick="return confirm('Are you sure?');"> 
				</form>
				</li>
				{% endfor %}
            </ul>
        </div>
        
        <div class='column'>
            <h2> Done </h2>
            <ul>
                {% for task in done %}
                <li>{{task.text}} <a href='{{url_for('move',id=task.id,category='Doing')}}'> Still Doing</a> 
                <form style="display: inline-block;" action='{{ url_for('delete', id=task.id) }}' method='POST'> 
					<input type="submit" value='Delete Task' onclick="return confirm('Are you sure?');"> 
				</form>
				</li>
				{% endfor %}
            </ul>
        </div>
    </body>
</html>